{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
     {% if category %}
          {{ category.description|truncatewords:155 }}
     {% else %}
           Welcome to Ebay Store where you can buy items...
     {% endif %}
{% endblock %}
{% block title %}
 {% if category %}
          {{ category.name }}-Ebay store
     {% else %}
        Welcom to Ebay
     {% endif %}
{% endblock %}

{% block content %}
{% if category %}

    <div>
        <div class="row my_row_class">
            <div class="mx-auto">
            <p><a href="{% url 'shop:allProdCat' %}">our product collections</a> </p>
        </div>
        </div>
    </div>

    {% endif %}
<div class="mx_auto">
    {% if category %}
    <img class="my_image" src="{{category.image.url}}" width="100" height="100" alt="{{category.name}}">
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="our products">
</div>
<br>
<div>
    <h1 class="text-center my_title">our products collections </h1>
    <p class="text-justify">From smartphones and laptops to cameras, TVs and video game consoles you can find the hottest electronics on eBay. Sellers offer a huge selection of brand new products and collector's items, many of which are difficult to find anywhere else. Pair that with competitive pricing and you've got the ultimate online marketplace for electronics.</p>
</div>
     {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4  xol-lg-4">
            <div class="card text-center " style="min-wid:18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" width="200" height="200" alt="{{product.name}}"></a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}


        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}} " class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">pg</a>
            {% endfor %}

        </div>
        {% endif %}<br>
    </div>
    <br>
</div>

{% endblock %}
